.title {
    color: #535353;
    text-shadow: 0px 1px 1px rgba(18, 68, 84, 0.24);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%,rgba(255,241,194,1) 60%);
}

.form-card {
    border-radius: 24px;
    border: 1px solid #CEE7F3;
    background: #FBFDFE;
    box-shadow: 0px 4px 24px 0px rgba(134, 173, 193, 0.25);
   
    width: 80%;
    margin: 0 auto;
}

.form-main {
    padding-left: 50px;
}

.form-section-body {
    padding: 70px;
}

.card-header {
    height: 104px;
    background: #EBF4FF;
    padding: 0px 40px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.card-sub-header {
    height: 15px;
   /*  background: #FFF1C2; */
}

.traveller-input-section {
    padding: 15px;
    border-radius: 8px;
}

.travellers-num {
    height: 76px;
    width: 86px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: var(--neutral-n-0, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(116, 134, 170, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.img-focus {
    transform: rotate(180deg);
    transition: all 0.3s;
}

.active {
    border: 1px solid #68C3DF;
    background: #EEF8FB;
    box-shadow: 0px 2px 8px 0px rgba(116, 134, 170, 0.16);
}

.age-select {
    padding: 15px 10px;
   width: 100%;
}

.age-sect {
    width: 45%;
}

.submit-btn {
    border-radius: 8px;
    border: 0.5px solid #FEDF72;
    background: #FEE89A;
    width: 170px;
    height: 48px;
}

.astrick {
    color: #E43F52;
}

.traveller-age-section {
    max-height: 300px;
    overflow-y: scroll;
}

.traveller-age-section::-webkit-scrollbar {
    display: none;
  }

.more-travellers {
    top: 80px;
    border: 1px solid #D0D5DD;
    background: var(--neutral-n-0, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(116, 134, 170, 0.16);
    border-radius: 5px;
}

.more-travellers ul {
    padding: 0;
    height: 250px;
    overflow-y: scroll;
}

.more-travellers ul::-webkit-scrollbar {
    display: none;
  }

.more-travellers ul li {
    height: 50px;
    width: 86px;
    list-style: none;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-travellers ul li:hover {
    background: #EEF8FB;
}

@media screen and (max-width : 900px) {
    .form-card {
        width: 100%;
    }
}

/* FOR MOBILE */
@media screen and (max-width: 767px) {
    .form-section-body {
        padding: 15px;
    }
    .title{
        color: #535353;
text-shadow: 0px 1px 1px rgba(18, 68, 84, 0.24);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
text-transform: uppercase;
    }
    .card-header {
        height: 64px;
    }
    .travellers-num{
        height: 50px;
        width: 50px;
    }
}