<app-progress-bar></app-progress-bar>

<div class="row container m-auto">
  <div class="col-9">
    <form
      #proposalOwnerDetailsForm="ngForm"
      FormGroup="step1"
      *ngIf="stepNumber === 1"
    >
      <div class="row form-container">
        <div class="form-holder">
          <div class="row">
            <div class="col">
              <div style="margin-top: 12px">
                <div class="form-heading">
                  <h1>Traveller Details</h1>
                  <div class="form-pages">
                    <div class="page-no"><p class="mb-0">1</p></div>
                    <div class="line"></div>
                    <div class="page-inactive"><p class="mb-0">2</p></div>
                    <div class="line"></div>
                    <div class="page-inactive"><p class="mb-0">3</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Personal Form Details -->
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div>
                  <label for="" class="form-label"
                    >Salutation <span>*</span></label
                  >

                  <select class="form-select" aria-label="Default select example" id="floatingSelectGrid" [(ngModel)]="proposalRequest.proposalOwnerDetails.salutation" name="salutation" ngModel required >
                    <option value="1">Mr</option>
                    <option value="2">Mrs</option>
                  </select>
                </div>

                <div>
                  <label class="form-label" for=""
                    >First Name <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="First Name "
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.firstname"
                    name="firstname"
                    ngModel
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for=""
                    >Middle Name <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Middle Name"
                    [(ngModel)]="
                      proposalRequest.proposalOwnerDetails.middlename
                    "
                    name="middlename"
                    ngModel
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for=""
                    >Surname <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Surname"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.surname"
                    name="surname"
                    ngModel
                    required
                  />
                </div>
              </div>
            </div>
          </div>

          <!--    Gender DOB PASSPORT -->
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div>
                  <label for="" class="form-label">Gender <span>*</span></label>
                  <select
                    class="form-select"
                    id="floatingSelectGrid"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.gender"
                    name="gender"
                    ngModel
                    required
                  >
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="2">Other</option>
                  </select>
                </div>
                <div>
                  <label class="form-label" for="">DOB<span>*</span></label>
                  <input
                    class="form-control"
                    type="date"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.dob"
                    name="dob"
                    ngModel
                    required
                  />
                </div>
                <div>
                  <label class="form-label" for=""
                    >Passport No<span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="
                      proposalRequest.proposalOwnerDetails.passportno
                    "
                    name="passportno"
                    ngModel
                    required
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Emailid phoneNumber Alternate Number -->
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Email ID<span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="email"
                    placeholder=""
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.email"
                    name="email"
                    ngModel
                    required
                  />
                </div>
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Phone Number <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder=""
                    [(ngModel)]="
                      proposalRequest.proposalOwnerDetails.phonenumber
                    "
                    name="phonenumber"
                    ngModel
                    required
                  />
                </div>
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Alternate Phone Number <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder=""
                    [(ngModel)]="
                      proposalRequest.proposalOwnerDetails.altphoneno
                    "
                    name="altphoneno"
                    ngModel
                    required
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Adress line -->
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Current Adress line 1<span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.add1"
                    name="add1"
                    ngModel
                    required
                  />
                </div>
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Current Adress line 2<span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.add2"
                    name="add2"
                    ngModel
                    required
                  />
                </div>
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Current Adress line 3<span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.add3"
                    name="add3"
                    ngModel
                    required
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- 
        state city pincode -->

          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div class="form-detail">
                  <label class="form-label" for="">State<span>*</span></label>
                  <select
                    class="form-select"
                    id="floatingSelectGrid"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.state"
                    name="state"
                    ngModel
                    required
                  >
                    <option value="1">Maharashtra</option>
                    <option value="2">Karnataka</option>
                    <option value="2">TamilNadu</option>
                    <option value="2">Kerala</option>
                  </select>
                </div>
                <div class="form-detail">
                  <label class="form-label" for="">City <span>*</span></label>
                  <select
                    class="form-select"
                    id="floatingSelectGrid"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.city"
                    name="city"
                    ngModel
                    required
                  >
                    <option value="1">Kalyan</option>
                    <option value="2">Thane</option>
                    <option value="2">Dombivili</option>
                    <option value="2">Pune</option>
                  </select>
                </div>
                <div class="form-detail">
                  <label class="form-label" for=""
                    >Pin Code <span>*</span></label
                  >
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="proposalRequest.proposalOwnerDetails.pincode"
                    name="pincode"
                    ngModel
                    required
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- PERMANENT ADDRESS -->
      <div class="row form-holder" style="margin-top: 10px">
        <div class="form-heading">
          <h1>Permanent Address <span>*</span></h1>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="field-wrapper">
              <label for="" class="field-lable mb-2" style="display: block"
                >Registration Address is same as Above ?<span class="star"
                  >*</span
                ></label
              >

              <div style="display: flex; align-items: center; gap: 20px">
                <label
                  for="html"
                  class="field-lable"
                  style="display: flex; align-items: center; gap: 10px"
                >
                  <input type="radio" name="Address" value="true" checked />Yes
                </label>

                <label
                  for="html"
                  class="field-lable"
                  style="display: flex; align-items: center; gap: 10px"
                >
                  <input type="radio" name="Address" value="false" /> No
                </label>
              </div>

              <div style="margin-top: 10px">
                <button
                  type="submit"
                  (click)="next(proposalOwnerDetailsForm)"
                  class="btn-next"
                >
                  Next
                  <img
                    src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- --[FormGroup] -->
  </div>
  <!-- kyc  -->
  <div class="col-9" *ngIf="stepNumber === 2">
    <form #proposalNomineeDetailsForm="ngForm" FormGroup="step2">
      <div class="row form-container">
        <div class="form-holder">
          <div class="row">
            <div class="col">
              <div style="margin-top: 12px">
                <div class="form-heading">
                  <h1>EKYC <span>*</span></h1>
                  <div class="form-pages">
                    <div class="page-inactive"><p class="mb-0">1</p></div>
                    <div class="line"></div>
                    <div class="page-no"><p class="mb-0">2</p></div>
                    <div class="line"></div>
                    <div class="page-inactive"><p class="mb-0">3</p></div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--  Ekyc Form -->
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div>
                <div class="ekyc-contents">
                  <div class="form-width">
                    <label for="kyc" class="form-label">Choose KYC Type<span>*</span></label>
                      <select class="form-select" id="floatingSelectGrid" name="verificationOption" ngModel required>
                        <option value="1"></option>
                        <option value="PAN CARD">PAN CARD</option>
                        <option value="AADHAR CARD">AADHAR CARD</option>
                        <option value="PASSPORT">PASSPORT</option>
                        <option value="FORM 60">FORM 60</option>
                    </select>
                  </div>
                  <div class="form-width">
                    <label for="number" class="form-label">PAN Card Number<span>*</span></label>
                    <input class="form-name" type="name"
                      class="form-control" name="nomCardno" ngModel required/>
                  </div>
                  <div>
                    <label for="fname" class="form-label"> </label>
                    <div></div>
                    <button class="btn-ekyc">
                      Verify
                      <img
                        src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down.svg"
                        alt=""
                      />
                    </button>
                    <!-- <button>Verify</button> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Nominee Details -->
        <div class="form-holder" style="margin-top: 8px">
          <div class="row">
            <div class="col">
              <div style="margin-top: 12px">
                <div class="form-heading">
                  <h1>Nominee Details <span>*</span></h1>
                </div>
              </div>
              <div class="row" style="margin-top: 12px">
                <div class="col">
                  <div class="form-content">
                    <div class="form-detail">
                      <label class="form-label" for="">Full Name<span>*</span></label>
                      <input class="form-control" type="text" [(ngModel)]="proposalRequest.proposalNomineeDetails.nomfullname"  name="nomFullname" ngModel required/>
                    </div>
                    <div class="form-detail">
                      <label class="form-label" for="">Relation with Nominee <span>*</span></label>
                      <select class="form-select" id="floatingSelectGrid" [(ngModel)]="proposalRequest.proposalNomineeDetails.appointeereltn"  name="nomrelation" ngModel required>
                        <option value="1"></option>
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                        <option value="Daughter">Daughter</option>
                        <option value="Son">Son</option>
                      </select>
                    </div>
                    <div class="form-age">
                      <label class="form-label" for="">Age <span>*</span></label>
                      <input class="form-control" type="date" [(ngModel)]="proposalRequest.proposalNomineeDetails.nomdob" name="nomge" ngModel required/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 12px">
            <div class="col">
              <div class="form-content">
                <div class="form-detail">
                  <label class="form-label" for="">Email Id <span>*</span></label>
                  <input class="form-control" type="text" [(ngModel)]="proposalRequest.proposalNomineeDetails.nomemail" name="nomemail" ngModel required/>
                </div>
                <div class="form-detail">
                  <label class="form-label" for="">Phone Number <span>*</span></label>
                  <input class="form-control" type="text" [(ngModel)]="proposalRequest.proposalNomineeDetails.nomphoneno" name="nomphoneno"ngModelrequired/>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 12px">
            <div class="col" style="margin-top: 12px">
              <div class="btn-content">
                <div>
                  <button class="btn-ekyc" (click)="previous()">
                    <img id="leftarrow" src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""/>
                    Back
                  </button>
                </div>
                <div>
                  <button type="submit" class="btn-ekyc" (click)="next(proposalNomineeDetailsForm)">
                    Next
                    <img
                      src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg" alt=""
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-9" *ngIf="stepNumber === 3">
    <form #step3="ngForm" FormGroup="step3">
      <div class="row form-container">
        <div class="form-holder">
          <div class="row">
            <div class="col">
              <div style="margin-top: 12px">
                <div class="form-heading">
                  <h1>Medical Details</h1>
                  <div class="form-pages">
                    <div class="page-inactive">
                      <p class="mb-0">1</p>
                    </div>
                    <div class="line"></div>
                    <div class="page-inactive">
                      <p class="mb-0">2</p>
                    </div>
                    <div class="line"></div>
                    <div class="page-no">
                      <p class="mb-0">3</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="medical-details">
                <!-- <h1>Medical Details</h1> -->
                <p>Do you have any pre-existing Medical Conditions?*</p>
                <p id="med-description">
                  Please select YES if you have a medical condition that
                  requires you to take medications on regular basis
                </p>
                <div class="button-style">
                  <button><input type="radio" name="" id="" />Yes</button>
                  <button><input type="radio" name="" id="" />No</button>
                </div>
                <div style="margin-top: 16px">
                  <p>
                    Have you ever claimed under Travel Insurance?<span>*</span>
                  </p>
                </div>
                <div class="button-style">
                  <button><input type="radio" name="" id="" />Yes</button>
                  <button><input type="radio" name="" id="" />No</button>
                </div>
                <div style="margin-top: 16px">
                  <p>
                    Do you have any of the diseases mentioned below?<span
                      >*</span
                    >
                  </p>
                  <div class="button-style">
                    <button>
                      <input type="radio" name="" id="" />Diabetes
                    </button>
                    <button>
                      <input type="radio" name="" id="" />Heart Conditions
                    </button>
                    <button><input type="radio" name="" id="" />Asthma</button>
                    <button><input type="radio" name="" id="" />Cancer</button>
                  </div>
                </div>
                <div class="button-style">
                  <button>
                    <input type="radio" name="" id="" />Respiratory Conditions
                  </button>
                  <button><input type="radio" name="" id="" />Arthritis</button>
                  <button>
                    <input type="radio" name="" id="" />Digestive Disorders
                  </button>
                  <button><input type="radio" name="" id="" />Others</button>
                </div>
              </div>
              <div style="margin-top: 16px">
                <input type="checkbox" />I have read all the details and give
                confirmation that all details added are correct
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 12px">
            <div class="col" style="margin-top: 12px">
              <div class="btn-content">
                <div>
                  <button class="btn-ekyc" (click)="previous()">
                    <img
                      id="leftarrow"
                      src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg"
                      alt=""
                    />
                    Back
                  </button>
                </div>
                <div>
                  <button (click)="next(finalform)" class="btn-ekyc">
                    Next
                    <img
                      src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg"
                      alt=""
                    />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="col-9 form-holder" *ngIf="stepNumber === 4">
    <form #finalform="ngForm" class="row form-row">
      <div class="col" style="margin-right: -25px">
        <div class="card card-heading traveller-left-div">
          <h1>Traveller Detail</h1>
        </div>
        <div>
          <p>Name: {{ proposalRequest.proposalOwnerDetails.firstname }}</p>
          <p>
            Email ID:
            <span>{{ proposalRequest.proposalOwnerDetails.email }}</span>
          </p>
          <p>
            Phone No.
            <span
              >+91 {{ proposalRequest.proposalOwnerDetails.phonenumber }}</span
            >
          </p>
          <p>
            Alternate No.
            <span
              >+91 {{ proposalRequest.proposalOwnerDetails.altphoneno }}</span
            >
          </p>
          <p>Gender : <span>Male</span></p>
          <p>
            DOB: <span>{{ proposalRequest.proposalOwnerDetails.dob }}</span>
          </p>
          <p>
            {{ formData?.verificationOption }}
            <span> {{ formData?.CardNumber }}</span>
          </p>
          <!-- <p>{{ proposalRequest.proposalNomineeDetails.verificationOption}}<span>
              {{proposalRequest.proposalNomineeDetails.nomCardno }}
            </span></p> -->

          <P
            >Address:
            <span
              >{{ proposalRequest.proposalOwnerDetails.add1 }}
              {{ proposalRequest.proposalOwnerDetails.add2 }}
              {{ proposalRequest.proposalOwnerDetails.add3 }}</span
            >
          </P>
        </div>
      </div>
      <div class="col">
        <div class="card card-heading traveller-left-div">
          <h1>Nominee Detail</h1>
        </div>
        <div>
          <p>
            Name:
            <span>{{
              proposalRequest.proposalNomineeDetails.nomfullname
            }}</span>
          </p>
          <p>
            Realationship:
            <span
              >{{ proposalRequest.proposalNomineeDetails.appointeereltn }}
            </span>
          </p>
          <p>
            Email ID:
            <span>{{ proposalRequest.proposalNomineeDetails.nomemail }}</span>
          </p>
          <p>
            Phone No.
            <span
              >+91 {{ proposalRequest.proposalNomineeDetails.nomphoneno }}</span
            >
          </p>
        </div>
        <div>
          <h1>Medical Details</h1>
        </div>
        <P>Heart Conditions</P>
        <div class="card p-2 otp-div">
          <h1>OTP Details</h1>
          <button class="otp-btn">Generate OTP</button>
        </div>
        <div class="otp-div" style="margin-top: 12px">
          <ng-otp-input [config]="{ length: 4 }"></ng-otp-input>
          <button class="btn-ekyc" routerLink="" replaceUrl="tue">
            Next
            <img
              src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg"
              alt=""
            />
          </button>
        </div>
      </div>
    </form>
    <div class="row" style="margin-top: 12px">
      <div class="col">
        <div class="accept-container">
          <button class="btn-ekyc" routerLink="" replaceUrl="tue">
            Proceed
            <img
              src="../../../../assets/Travel_Page_Assets/Form Screen/Icons/Open Dropdown CaretRight-Icon.svg"
              alt=""
            />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col quote-summary">
    <div class="text-center" style="padding-top: 12px">
      <p class="quote">
        Quote Number: <span> 7629918EFGH <img src="" alt="" /></span>
      </p>
      <div></div>
    </div>
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Trip Summary</h2>
      </div>
      <div class="policy-content">
        <div style="text-align: center">
          <img
            src="../../../assets/Travel_Page_Assets/Form Screen/Icons/Company Policy Frame.svg"
            alt=""
          />
          <p class="policy-details">Policy Details</p>
        </div>
        <div>
          <p class="summary-details">
            Depature Date : <span>{{ tripStart }}</span>
          </p>
          <p class="summary-details">
            Arrival Date : <span>{{ tripEnd }}</span>
          </p>
          <p class="summary-details">
            Destination : <span> {{ tripDestination }}</span>
          </p>
          <!-- <p class="summary-details">
            Resident of : <span> Mumbai, India</span>
          </p> -->
        </div>
      </div>
    </div>
    <!--   coverage Benfits -->
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Coverage Benefits</h2>
      </div>
      <div class="summary-content">
        <p class="summary-details">
          Medical Coverage : <span> {{ medicalCoverage[0].plimits }} USD</span>
        </p>
        <p class="summary-details">
          Passport lost Coverage :
          <span>
            {{
              passportCoverage.plimits
                ? passportCoverage[0].plimits
                : "Not Covered"
            }}</span
          >
        </p>
        <p class="summary-details">
          Baggage lost Coverage :
          <span> {{ baggageCoverage[0].plimits }} USD</span>
        </p>
        <p>Primary</p>
      </div>
    </div>
    <!--  Trip Costing -->
    <div class="row">
      <div class="col summary-heading">
        <h2 class="summary-title">Trip Costing</h2>
      </div>
      <div class="summary-content">
        <p class="summary-details">
          Insurance Cost :
          <span
            >Rs.
            {{ premiumDetail.pTravelPremiumOut_out.pfullTermPremium }}</span
          >
        </p>
        <p class="summary-details">
          18% GST Cost :
          <span>Rs. {{ premiumDetail.pTravelPremiumOut_out.pserviceTax }}</span>
        </p>
        <p class="summary-details">
          Total Cost :
          <span
            >Rs. {{ premiumDetail.pTravelPremiumOut_out.ptotalPremium }}</span
          >
        </p>
      </div>
    </div>
    <!-- 
Information -->
    <div class="row">
      <div class="col summary-heading">
        <p class="summary-content summary-details">
          If any of this information is incorrect, please edit your quote.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row border">
  <div class="col content">
    <h1>Purchase Policy</h1>
    <div>
      <p>
        Kindly complete the sections below and click on " Proceed " Immediate
        confirmation will be provided on screen and sent to your email
      </p>
    </div>
  </div>
</div>
 -->
