.title {
    color: #535353;
    text-shadow: 0px 1px 1px rgba(18, 68, 84, 0.24);
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
   
}
.highlight{
    background: linear-gradient(180deg,rgba(255,255,255,0) 60%,rgba(255,241,194,1) 60%)
}
.form-card {
    border-radius: 24px;
    border: 1px solid #CEE7F3;
    background: #FBFDFE;
    box-shadow: 0px 4px 24px 0px rgba(134, 173, 193, 0.25);
    width: 80%;
    margin: 0 auto;
}

.form-main {
    padding-left: 50px;
}

.form-section-body {
    padding: 70px;
}

.card-header {
    height: 104px;
    background: #EBF4FF;
    padding: 0px 40px;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}

.card-sub-header {
    height: 15px;
    /* background: #FFF1C2; */
}

.input-section {
    padding: 15px;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    background: var(--base-white, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(116, 134, 170, 0.16);
}

.search-div,
.down-arrow-div {
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid var(--neutral-n-400, #D8DAE5);
    background: var(--neutral-n-0, #FFF);
}

.destination-input {
    width: 90%;
    border: none;
}

.destination-input:focus {
    border: none
}

.all-countries-list {
    background-color: white;
    position: absolute;
    height: 200px;
    overflow-y: scroll;
    z-index: 99;
    top: 100px;
    border-radius: 8px;
    border: 1px solid var(--gray-300, #D0D5DD);
    box-shadow: 0px 2px 8px 0px rgba(116, 134, 170, 0.16);
}

.all-countries-list-close {
    display: none;
}

.all-countries-list::-webkit-scrollbar {
    display: none;
}

/* .all-countries-list:active {
    display: none;
} */

.countries-name {
    padding: 10px 50px;
    cursor: pointer;
}

.countries-name:hover {
    background: #EEF8FB;
}

.final-destination-badge .badge {
    border-radius: 40px;
    border: 0.5px solid #ABDDED;
    background-color: #CDEBF4 !important;
    color: black;
    cursor: pointer;
}

.final-destination-badge .badge img {
    width: 12px;
    height: 12px;
}

.submit-btn {
    border-radius: 8px;
    border: 0.5px solid #FEDF72;
    background: #FEE89A;
    width: 170px;
    height: 48px;
}

.astrick {
    color: #E43F52;
}

@media screen and (max-width : 900px) {
    .form-card {
        width: 100%;
    }
}
@media screen and (max-width: 767px) {
    .form-section-body {
        padding: 15px;
    }
    .title{
        color: #535353;
text-shadow: 0px 1px 1px rgba(18, 68, 84, 0.24);
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
text-transform: uppercase;
    }
    .card-header {
        height: 64px;
    }
}


