<div class="form-card card">

    <div class="card-header d-flex align-items-center">
        <div class="card-sub-header  d-flex justify-content-between align-items-center w-100">
            <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Back Arrow Icon.svg" alt=""
                routerLink="" />
            <p class=" mb-0"><span class="highlight title">Ready to Explore a New Horizon?</span></p>
        </div>

    </div>

    <div class="card-body form-section-body">
        <form>
            <div class="position-relative">

                <!-- <app-country-search-box (searchTextChanged)="onSearchTextEntered($event)"
                    (click)='divOpen()'></app-country-search-box> -->

                    <!--Destination Name Component-->


                    <div class="mb-3">
                        <label class="form-label">Choose your Destination <span class="astrick">*</span></label>
                    
                        <div class="input-section border d-flex justify-content-between align-items-center">
                    
                            <div class="search-div border d-flex justify-content-center align-items-center">
                                <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Search Glass Icon.svg" alt="">
                            </div>
                    
                            <input  [(ngModel)]="searchText" (click)='divOpen()' type="text" class="form-control shadow-none destination-input" id="text"
                                placeholder="Enter Your Destination" name="destination">
                    
                            <div class="down-arrow-div border d-flex justify-content-center align-items-center">
                                <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Chevron-down(Gray-Calender)-Icon.svg"
                                    alt="">
                            </div>
                    
                        </div>
                    </div>
                

                    <!---->

                <div [ngClass]="classDiv">
                    <div [ngClass]="searchText === '' ? 'd-none' : 'all-countries-list w-100 mt-2'">
                        <div *ngFor="let country of countries">
                            <div *ngIf="searchText === '' || country.toLowerCase().includes(searchText)">
                                <p class="countries-name" (click)="divClose()" (click)="getValue($event)"
                                    (click)="sendBadgeData()">{{country}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="final-destination-badge">
                    <span *ngFor="let badge of badgeItems; let i = index" class="badge bg-primary me-2"
                        (click)="delete(i)">{{badge}}
                        <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/cross mark.svg"
                            alt="cross-mark">
                    </span>

          
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Choose Your Dates <span class="astrick">*</span></label>
                <div class="input-section border d-flex justify-content-between align-items-center">

                    <div class="search-div border d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Arrow-left(Back for Input Folder)Icon.svg"
                            alt="">
                    </div>

                    <!-- <app-date-picker class="w-100"></app-date-picker> -->

                    <input class="trip-date" type="date" id="start-date" name="trip-start" value="2024-01-01"/>
                    <input class="trip-date" type="date" id="end-date" name="trip-end" value="2024-01-01" />

                    <div class="down-arrow-div border d-flex justify-content-center align-items-center">
                        <img style="transform: rotate(180deg);"
                            src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Arrow-left(Back for Input Folder)Icon.svg"
                            alt="">
                    </div>

                </div>
            </div>

            <div class="submit-btn-div text-center">
                <button (click)="updateProgressBar()" class="btn submit-btn" routerLink="travellers-age">Next</button>
            </div>

        </form>
    </div>
</div>