<div class="form-card card">

    <div class="card-header d-flex align-items-center">
        <div class="card-sub-header d-flex justify-content-between align-items-center w-100">
            <img src="../../../assets/Travel_Page_Assets/Single Trip Flow/Icons/Back Arrow Icon.svg" alt=""
                routerLink="/travel-destination/travellers-number" />
            <p class=" mb-0"><span class="title highlight">  Final Step to Secure your adventure!</span></p>
        </div>

    </div>

    <div class="card-body form-section-body">
        <form>
            <h3 class="card-sub-heading text-center">Easy access to your insurance needs via WhatsApp!!</h3>
            <div class="mb-3 text-center" >
                <label class="form-label"> Please enter the OTP send on your Mobile Number <span class="astrick">*</span></label>
                <div class=" d-flex justify-content-center align-items-center" style="width: 50%; margin:auto; margin-top:16px ">
                    <ng-otp-input [config]="{length:4}"></ng-otp-input>
                </div>

            </div>

           
            <div class="submit-btn-div text-center">
                <button type="button" class="btn submit-btn" replaceUrl="true"
                 (click)="updateProgressBar()"  replaceUrl="true" routerLink="/first-quotes">Access Quotes</button>
            </div>

        </form>
    </div>
</div>