.form-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-pages {
    display: flex;

    align-items: center;
    text-align: center;

}

.page-no {
    border-radius: 4px;
    border: 1px dashed #FDCC21;
    background: #FEE89A;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-inactive {
    border-radius: 4px;
    border: 1px dashed #99C7FF;
    background: #EBF4FF;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    border: 1px dashed #0B2C5C;
    width: 40px;
    height: 1px;

}

.form-container {
    margin-right: 40px;
}

h1 {
    color: #0B2C5C;

    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.form-content {
    display: flex;
    gap: 16px
}

label {
    color: #535353;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 16.8px */
}

span {
    color: #D9534F;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

input {
    border-radius: 4px;
    border: 0.5px solid #C2DDFF;
    background: var(--neutral-n-0, #FFF);
    padding: 10px 12px;


}

select {
    border-radius: 4px;
    border: 0.5px solid #C2DDFF;
    padding: 10px 12px;
}

.form-detail {
    width: 31%;
}

.form-holder {
    border-radius: 12px;
    border: 2px solid #CCCCCC;
    padding: 12px 20px;
    margin-right: 40px;

}

.btn-container {
    display: flex;
    justify-content: space-between;


}

.btn-container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

button {
    border-radius: 8px;
    border: 0.5px solid #C2DDFF;
    background: #FFF;
    padding: 10px;
    color: #333;


    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    display: flex;
    padding: 8px 48px 8px 8px;
    align-items: center;
    gap: 8px;
}

.btn-next {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 8px;
    border: 1px solid #FECD20;
    background: #FED74C;
}

.btn-next>img {
    transform: rotate(270deg);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .col-9 {
        width: 100%;
        padding: 0;
    }
}

/* Styles for small screens (mobile) */
@media screen and (max-width: 767px) {
    .col {
        width: 100%;
        
    }

    /* Your styles for small screens (mobile) go here */
    .form-container {
        margin-right: 0px;
       


    }

    .form-holder {
        margin-right: 0px;
    }

    .form-content {
        flex-direction: column;
    }

    .form-detail {
        width: 100%;
    }
}