<div class="compare-quotes row mt-4">
    <div class="side-navbar col-lg-3">
        <div class="back" routerLink="/first-quotes">
            <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/CaretLeft Arrow-Icon.svg"
                alt="back-arrow">
        </div>
        <hr>
        <div class="policy-list-items">
            <ul>
                <li>Premium</li>
                <li>Sum Insured</li>
                <li>Dental Treatment</li>
                <li>Return of Minor Child</li>
                <li>Medical Evacuation</li>
                <li>Repatriation of Mortal remains</li>
                <li>Compassionate Visit</li>
            </ul>
        </div>
    </div>

    <div class="compare-quotes-sect d-flex justify-content-around col-lg-9 flex-wrap">
        <div class="quotes">
            <div class="cross-sect d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/cross mark.svg" alt="cross-icon">
            </div>
            <div class="insurance-provider-image d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Illustrations/HDFC ERGO Company Policy Frame.svg"
                    alt="hdfc-image">
            </div>
            <hr style="width: 95%; margin: auto;">
            <div class="policy-quotes-list-items">
                <ul>
                    <li><button type="button" class="btn btn-price" routerLink="/traveller-form">₹5000 <img
                        src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/ArrowHead CaretLeft(Blue For Buttons)-Icon.svg"
                        alt="right-arrow"></button></li>
                    <li>₹ 100,000</li>
                    <li>₹ 300</li>
                    <li>X</li>
                    <li>₹ 50,000</li>
                    <li>₹ 50,000</li>
                    <li>X</li>
                </ul>
            </div>
        </div>
        <div class="quotes">
            <div class="cross-sect d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/cross mark.svg" alt="cross-icon">
            </div>
            <div class="insurance-provider-image d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Illustrations/HDFC Life Company Policy Frame.svg"
                    alt="hdfc-image">
            </div>
            <hr style="width: 95%; margin: auto;">
            <div class="policy-quotes-list-items">
                <ul>
                    <li><button type="button" class="btn btn-price" routerLink="/traveller-form">₹5000 <img
                        src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/ArrowHead CaretLeft(Blue For Buttons)-Icon.svg"
                        alt="right-arrow"></button></li>
                    <li>₹ 100,000</li>
                    <li>₹ 300</li>
                    <li>X</li>
                    <li>₹ 50,000</li>
                    <li>₹ 50,000</li>
                    <li>X</li>
                </ul>
            </div>
        </div>
        <div class="quotes">
            <div class="cross-sect d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/cross mark.svg" alt="cross-icon">
            </div>
            <div class="insurance-provider-image d-flex justify-content-center align-items-center">
                <img src="../../../../assets/Travel_Page_Assets/Quotes Screen/Illustrations/TATA AIG Company Policy Frame.svg"
                    alt="hdfc-image">
            </div>
            <hr style="width: 95%; margin: auto;">
            <div class="policy-quotes-list-items">
                <ul>
                    <li><button type="button" class="btn btn-price" routerLink="/traveller-form">₹5000 <img
                        src="../../../../assets/Travel_Page_Assets/Quotes Screen/Icons/ArrowHead CaretLeft(Blue For Buttons)-Icon.svg"
                        alt="right-arrow"></button></li>
                    <li>₹ 100,000</li>
                    <li>₹ 300</li>
                    <li>X</li>
                    <li>₹ 50,000</li>
                    <li>₹ 50,000</li>
                    <li>X</li>
                </ul>
            </div>
        </div>
    </div>
</div>