<div class="traveller-policy-filters row">
    <div class="col-lg-3 filters">

        <div class="selected-filters card">
            <div class="cardheader">
                <h3 class="mb-0 fw-700">My Selected Filters</h3>
            </div>
            <p class="mb-0">No filters selected, please choose<br> a filter below</p>
        </div>

        <div class="filter-search-results accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button filter-search-btn" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Filter Search Results
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Popular Filters
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Second
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Cancellation
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Third
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Medical
                                </button>
                            </h2>
                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Fourth
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Evacuation
                                </button>
                            </h2>
                            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Fifth
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Loss or Delay
                                </button>
                            </h2>
                            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Sixth
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingSeven">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Accidental Death
                                </button>
                            </h2>
                            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    Seventh
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingEight">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    Sports
                                </button>
                            </h2>
                            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight"
                                data-bs-parent="#headingOne">
                                <div class="accordion-body">
                                    eIGHTH
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingNine">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Other Benefits
                                </button>
                            </h2>
                            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine"
                                data-bs-parent="#headingNine">
                                <div class="accordion-body">
                                    eIGHTH
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 policy">
        <div class="all-policies-sort-bar d-flex justify-content-between align-items-center">
            <h3 class="mb-0">All Policies</h3>
            <div class="input-group w-25">
                <select class="form-select" id="inputGroupSelect01">
                    <option selected>Click to sort results</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>

        <div class="all-policies-div">

            <div class="mb-4">
                <div class="all-policies d-flex justify-content-around align-items-center">

                    <div class="compare-checkbox">
                        <div class="input-group">
                            <div class="input-group-text d-flex flex-column input-check-box">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                                <label routerLink="compare-quotes">Compare</label>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line"></div>

                    <div class="insurance-company-image">
                        <img src="../../../assets/Travel_Page_Assets/Quotes Screen/Illustrations/TATA AIG Company Policy Frame.svg"
                            alt="company-pic">
                    </div>

                    <div class="hr-line"></div>

                    <div class="insurance-details">
                        <ul>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Medical Coverage <span>₹43000/-</span></p>
                            </li>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Passport lost Coverage<span>₹43000/-</span></p>
                            </li>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Baggage lost Coverage <span>₹43000/- Primary</span></p>
                            </li>
                        </ul>
                    </div>

                    <div class="hr-line"></div>

                    <div class="buy-policy flex-column justify-content-center">
                        <a href="#">Policy Details</a>
                        <p>₹ 5000</p>
                        <button type="button" class="btn btn-primary" routerLink="/traveller-form">Buy Now</button>
                    </div>
                </div>
                <p class="all-policy-footer text-center">3 more plans from<span> TATA AIG Travel Insurance</span>
                </p>
            </div>


            <div class="mb-4">
                <div class="all-policies d-flex justify-content-around align-items-center">

                    <div class="compare-checkbox">
                        <div class="input-group">
                            <div class="input-group-text d-flex flex-column input-check-box">
                                <input class="form-check-input mt-0" type="checkbox" value=""
                                    aria-label="Checkbox for following text input">
                                <label routerLink="compare-quotes">Compare</label>
                            </div>
                        </div>
                    </div>

                    <div class="hr-line"></div>

                    <div class="insurance-company-image">
                        <img src="../../../assets/Travel_Page_Assets/Quotes Screen/Illustrations/HDFC ERGO Company Policy Frame.svg"
                            alt="company-pic">
                    </div>

                    <div class="hr-line"></div>

                    <div class="insurance-details">
                        <ul>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Medical Coverage <span>₹43000/-</span></p>
                            </li>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Passport lost Coverage<span>₹43000/-</span></p>
                            </li>
                            <li>
                                <img
                                    src="../../../assets/Travel_Page_Assets/Quotes Screen/Icons/Yellow TickMark-Icon.svg">
                                <p>Baggage lost Coverage <span>₹43000/- Primary</span></p>
                            </li>
                        </ul>
                    </div>

                    <div class="hr-line"></div>

                    <div class="buy-policy flex-column justify-content-center">
                        <a href="#">Policy Details</a>
                        <p>₹ 5000</p>
                        <button type="button" class="btn btn-primary" routerLink="/traveller-form">Buy Now</button>
                    </div>
                </div>

                <p class="all-policy-footer text-center">3 more plans from<span> HDFC Ergo Travel Insurance</span>
                </p>
            </div>


        </div>

    </div>
</div>