<div class="row">

    <div class="progressbar-container" style="position: relative;">
        <div class="pgbar-container">
            <p>Select Destination & Travelers</p>
            <div class="circle"></div>
            <div class="bar1"></div>

        </div>
        <div class="pgbar-container" style="width:39%">
            <p> Enter Contact Details</p>
            <div class="circle"></div>
            <div class="bar2"></div>

        </div>
        <div class="pgbar-container">
            <p>Compare Quotes</p>
            <div class="circle"></div>
            <div class="bar3"></div>

        </div>
    </div>

    <div>
        <img #progressbar class="cable-car " src="../../../assets/gili_Logo's/New SVG Logos/Cable Car Animation.gif"
            alt="" />
    </div>

</div>