<div class="container-fluid">
    <div class="upper-section text-center">
        <h2><img class="home-logo mt-4 mb-4"
                src="../../../assets/gili_Logo's/New SVG Logos/(Blue)gili.co.in Svg-Logo.svg" alt="logo"> for Travel
        </h2>
        <h3>"Your Journey, Our Protection: Making Every Journey Secure"</h3>
    </div>

    <span class="sub-head-span">
        <p class="sub-head text-center mb-0">
            Elevate Your Odyssey With Seamless Solutions!
        </p>
    </span>

    <div class="bottom-section">
        <div class="cards-section container-fluid w-75 d-flex justify-content-around flex-wrap"
            routerLink="/travel-destination">

            <div class="card one-time d-flex flex-direction-column justify-content-around align-items-center">
                <div class="cardbody p-4">
                    <div class="title-icon d-flex justify-content-between align-items-center">
                        <p class="mb-0">One-Time Journey</p>
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Icons/Single adventure.svg"
                            alt=" one time icon">
                    </div><br>
                    <div class="body-image d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Illustrations/One time journey Island SVG.svg"
                            alt="one time journey">
                    </div>
                </div>

                <div class="cardfooter">
                    <p>Explore Once:<br>
                        Single-Trip Coverage</p>
                </div>
            </div>

            <div class="card multiple-adventure d-flex flex-direction-column justify-content-around align-items-center">
                <div class="cardbody p-4">
                    <div class="title-icon d-flex justify-content-between align-items-center">
                        <p class="mb-0">Multiple Adventures</p>
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Icons/MultiTrip.svg"
                            alt=" one time icon">
                    </div><br>
                    <div class="body-image d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Illustrations/Multiple Adventures Tickets-SVG.svg"
                            alt="one time journey">
                    </div>
                </div>

                <div class="cardfooter">
                    <p>Endless Expeditions:<br>
                        Multi-Trip Coverage</p>
                </div>
            </div>

            <div class="card student-voyage d-flex flex-direction-column justify-content-around align-items-center">
                <div class="cardbody p-4">
                    <div class="title-icon d-flex justify-content-between align-items-center">
                        <p class="mb-0">Student Voyage</p>
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Icons/Student-Trip.svg"
                            alt=" one time icon">
                    </div><br>
                    <div class="body-image d-flex justify-content-center align-items-center">
                        <img src="../../../assets/Travel_Page_Assets/Main Screen/Illustrations/Student Voyage Student Traveler-SVG.svg"
                            alt="one time journey">
                    </div>
                </div>

                <div class="cardfooter">
                    <p>Study Abroad Coverage</p>
                </div>
            </div>


        </div>
    </div>

</div>