<div class="main-date-div">
    <div class="dp-hidden position-absolute">
        <div class="input-group">
            <input name="datepicker" class="form-control" ngbDatepicker #datepicker="ngbDatepicker"
                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
            <ng-template #t let-date let-focused="focused">
                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                    (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                </span>
            </ng-template>
        </div>
    </div>

    <div class="date-div d-flex justify-content-around flex-wrap">
        <div class="input-group  d-flex  flex-wrap fromDate-input">
            <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                [value]="formatter.format(fromDate)" (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
            <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()" type="button"><img
                    src="../../../../../assets/Travel_Page_Assets/Form Screen/Icons/Calendar(InputField)-Icon.svg"
                    alt="calendar-icon" /></button>
        </div>

        <div>
            <div class="input-group toDate-input d-flex flex-wrap">
                <input #dpToDate class="form-control d-flex  flex-wrap" placeholder="yyyy-mm-dd" name="dpToDate"
                    [value]="formatter.format(toDate)" (input)="toDate = validateInput(toDate, dpToDate.value)" />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="datepicker.toggle()"
                    type="button"><img
                    src="../../../../../assets/Travel_Page_Assets/Form Screen/Icons/Calendar(InputField)-Icon.svg"
                    alt="calendar-icon" /></button>
            </div>
        </div>
    </div>
</div>

